<div class="container mt-5">
    <h2 class="text-center mb-4">Quản Lý Chi Tiết Khóa Học</h2>
    <a href="/me/trash/courses" class="mb-4">Thùng Rác</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="">
                <tr>
                    <th>STT</th>
                    <th>Tên Khóa Học</th>
                    <th>Level</th>
                    <th>Thời gian tạo</th>
                    <th>Tính năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <button class="btn btn-info btn-sm mr-1">Xem</button>
                        <a href="/courses/{{this._id}}/edit">
                            <button class="btn btn-warning btn-sm mr-1">Sửa</button>
                        </a>
                        <a href="#">
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa</button>
                        </a>
                        
                    </td>
                </tr>
                {{else}}
                  <tr class="text-center">
                    <td colspan="5">Bạn chưa đăng khóa học nào. <a href="/courses/create">Đăng khóa học</a></td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông Báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khóa học này không ?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseID;
        var BtnDeleteCourse = document.getElementById('btn-delete-course');
        var DeleteForm = document.forms['delete-course-form'];
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseID = button.data('id') 
         });

           
        BtnDeleteCourse.onclick = function() {
            DeleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            DeleteForm.submit();
        }
    });

</script>
